body{
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
h1{
    font-size: 60px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    font-weight: 400;
    background-image: linear-gradient(to right,#f8a456d8,#fc4242e3);
    padding: 20px 30px;
    border-radius: 100px;
    box-shadow: 0px 0px 45px 5px rgba(252, 143, 73, 0.5);
    color: white;
}
.about{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.recipie{
    text-align: center;
}
.recipie p{
    width: 50%;
    margin: auto;
}
.div-width{
    width: 25%;
    padding: 20px;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}
.div-width img{
    width: 100%;
}
.div-width p{
    line-height: 32px;
}
.div-width h3{
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}