body{
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
}
h1{
    font-size: 60px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    font-weight: 400;
    background-image: linear-gradient(to right,#f8a456d8,#fc4242e3);
    padding: 20px 30px;
    border-radius: 100px;
    box-shadow: 0px 0px 45px 5px rgba(252, 143, 73, 0.5);
    color: white;
}
