body{
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
}
h1{
    font-size: 60px;
}
.orange-color{
    color: orange;
}
.grey-color{
    color: #575757;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width p{
    padding-bottom: 40px;
    font-size: 20px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    font-weight: 400;
    background-image: linear-gradient(to right,#f8a456d8,#fc4242e3);
    padding: 20px 30px;
    border-radius: 100px;
    box-shadow: 0px 0px 45px 2px rgba(252, 143, 73, 0.5);
    color: white;
}
.about{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.about div{
    width: 50%;
}
.about img{
    width: 100%;
    padding-left: 0px;
}
.about h2{
    font-size: 40px;
}
.about p{
    font-size: 18px;
    width: 90%;
    line-height: 32px;
    padding-bottom: 100px;
}
#about-me-div{
    padding: 100px; 
    margin-left: 100px;
}
#about-me-div h2{
    padding-bottom: 10px;
}
#recipie{
    text-align: center;
}
#recipie p{
    width: 50%;
    margin: auto;
}
#recipie h2{
    font-size: 32px;
}
.recipie-card{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}
.recipie-card img{
    width: 100%;
}
.recipie-card p{
    line-height: 32px;
}
.recipie-card h3{
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}
.followers{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    padding: 60px 160px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-between;
    line-height: 10px;
}
.followers h3{
    font-size: 35px;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
}
footer h3{
    font-size: 23px;
    padding-bottom: 15px;
}
footer p{
    font-size: 15px;
}
.contact{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    padding: 100px 160px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-between;
    line-height: 10px;

    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.submit-button{
    text-decoration: none;
    font-weight: 400;
    background-image: linear-gradient(to right,#f8a456d8,#fc4242e3);
    padding: 8px 16px;
    border-radius: 100px;
    box-shadow: 0px 0px 45px 2px rgba(252, 143, 73, 0.5);
    color: white;
}
.submit-form{
    border-left: 1px solid rgba(78, 78, 78, 0.527);
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 50px;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
}
.submit-form label{
    padding-left: 0px;
}
.submit-form input{
    border: 1px solid #e1e2eb;
    border-radius: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 10px;
    height: 12px;
    width: 180px;
}
#contact-info{
    line-height: 30px;
    width: 50%;
}
#contact-info h2{
    font-size: 30px;
}